body {
  font-family: 'Roboto', sans-serif;
}

li.selected {
  font-weight: bold;
  background-color: lightGrey;
}

.Card {
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
  min-height: 280px;
}

.Title {
  font-weight: 'bold';
  font-size: '1.2em';
}

.Info {
  margin-top: 16px;
  margin-bottom: 16px;
}

.Label {
  color: 'white';
  margin-right: 8px;
  padding: 4px;
  background: 'grey';
  border-radius: '4px';
}

.Image {
  float: 'left';
}
